<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<title>Hilton Shift Finder</title>

	<% if (background) { %>
	<style>
		body {
			background-color: lightgreen;
			animation-name: BGC;
			animation-duration: 10s;
			animation-iteration-count: infinite;
		}


		@-webkit-keyframes BGC {
			0% {
				background: red;
			}

			20% {
				background: orange;
			}

			40% {
				background: yellow;
			}

			60% {
				background: lightgreen;
			}

			80% {
				background: turquoise;
			}

			90% {
				background: blue;
			}

			100% {
				background: purple;
			}
		}

		#p1 {
			textsize: 50px;
		}
	</style>
	<% } %>
</head>

<body class="wrapper">
	<div class="container jumbotron">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<h1>🏳️‍🌈 Hilton's Shift Finder 🏳️‍🌈</h1>
				<ul>
					<li>Running: <strong>true</strong></li>
					<li>Delay: <strong><%= delay %></strong></li>
					<li>minShiftLength: <strong><%= minShiftLength %></strong></li>
					<li>maxShiftLength: <strong><%= maxShiftLength %></strong></li>
					<li>timeout: <strong><%= timeout %></strong></li>
				</ul>
				<h4>Days:</h4>
				<% daysToAccept.forEach(function(day) { %>
				<div>
					<form action="/day/<%= day %>/remove" method="post">
						<a><%= day %></a>
						<input type="submit" value="Remove" class="btn btn-primary">
					</form>
				</div>
				<% }); %>

				<br />

				<h4>Add Day</h4>
				<form action="/addDay" method="POST">
					<input id="day" type="text" name="day" value="">
					<input type="submit" value="Add" class="btn btn-primary">
				</form>

				<h4>Delay</h4>
				<form action="/delay" method="POST">
					<input id="delay" type="number" name="delay" value="" step=".01">
					<input type="submit" value="Set" class="btn btn-primary">
				</form>

				<h4>Min Shift Length</h4>
				<form action="/minlength" method="POST">
					<input id="length" type="number" name="length" value="" step=".01">
					<input type="submit" value="Set" class="btn btn-primary">
				</form>

				<h4>Max Shift Length</h4>
				<form action="/maxlength" method="POST">
					<input id="length" type="number" name="length" value="" step=".01">
					<input type="submit" value="Set" class="btn btn-primary">
				</form>

				<h4>Timeout</h4>
				<form action="/timeout" method="POST">
					<input id="timeout" type="number" name="timeout" value="">
					<input type="submit" value="Set" class="btn btn-primary">
				</form>
				<br />
				<ul>
					<li>
						<strong>CPU: </strong><a id="cpu" style="text-align: center;"></a>%
					</li>
					<li>
						<strong>Memory: </strong><a id="memory" style="text-align: center;"></a> mb
					</li>
				</ul>
				<button id="update" type="button" class="btn btn-secondary">Update</button>
				<button id="pm2reload" type="button" class="btn btn-warning">PM2 Reload</button>
			</div>

			<div class="col-sm-12 col-md-6">
				<h4>Logs</h4>
				<div style="overflow: scroll; height: 700px;" id="logs"></div>
			</div>
		</div>
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect(document.location.href);
		socket.on('settings', (data) => {
			console.log(data);
		});

		socket.on('cpu', function (data) {
			var cpu = document.getElementById('cpu');
			cpu.innerText = data;
		});

		socket.on('memory', function (data) {
			var memory = document.getElementById('memory');
			memory.innerText = data;
		});

		socket.on('log', function (data) {
			var div = document.getElementById("logs");
			div.innerText += data.message + '\n';
			div.scrollTop = div.scrollHeight;
		});

		document.getElementById("pm2reload").onclick = function (e) {
			socket.emit('pm2reload');
		};
		document.getElementById("update").onclick = function (e) {
			socket.emit('update');
		};
	</script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
